<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="segment1" routerLink="segment1">
        Segment1
      </ion-segment-button>
      <ion-segment-button value="segment2" routerLink="segment2">
        Segment2
      </ion-segment-button>
      <ion-segment-button value="segment3" routerLink="segment3">
        Segment3
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>
